/*************farver***********/
:root {
  --a-color: rgb(245, 244, 241);
  --b-color: rgb(207, 198, 185);
  --c-color: rgb(154, 130, 108);
  --d-color: rgb(122, 98, 84);
  --e-color: rgb(85, 67, 62);
  --f-color: rgb(42, 31, 30);
}
/*************farver***********/

/***********fonte************/
h1 {
  font-family: Bebas Neue;
}

h2,
h3 {
  font-family: lato;
}

p {
  font-family: lato;
}

.lato-regular {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/***********fonte************/

/***********Grids************/

/***********Grids************/

/***********Tekst størrelse************/
:root {
  --h1-size: 3.7rem;
  --h2-size: 2.7rem;
  --h3-size: 2.3rem;
  --p-size: 1.5rem;
  --footer-size: 1.2rem;
  --header-size: 1.3rem;
}
/***********img format************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
