/*************farver***********/
:root {
  --primary-color: rgb(245, 244, 241);
  --secondary-color: rgb(207, 198, 185);
  --accent-color: rgb(42, 31, 30);
  --tertier-color: rgb(85, 67, 62);
  --baggrund-color: rgb(154, 130, 108);
  --baggrun-color: rgb(122, 98, 84);
}
/*************farver***********/

/***********fonte************/

/***********fonte************/

/***********Grids************/
.grid_12-6 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
/***********Grids************/

/***********Tekst størrelse************/
:root {
  --h1-size: 4rem;
  --h2-size: 2.6rem;
  --p-size: 1.4rem;
  --footer-size: 1.25rem;
  --headerAndLink-size: 1rem;
}
/***********img format************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
