---
import "../styles/global.css";
import Udvalgbilled from "../components/Udvalgbilled.astro";

const data = await fetch(
  "https://vxotzshdtjxbfwcpegtt.supabase.co/rest/v1/thebreadstation?name,pris",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlvbGtwZXlnYXlwaHhhbHZlZ2x5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0NDQ5NzQsImV4cCI6MjAyNjAyMDk3NH0.i1vJllfxe1Cazr13Od2VvNH5yxxlFU47b_NqGe-6IIo",
    },
  }
).then((res) => res.json());
console.log(data);
---
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forside</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <Udvalgbilled/>
    
    </body>
  
    <style>


    </style>
  </html>
