---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Udvalgbil from "../components/Udvalgbil.astro";

const data = await fetch("https://vxotzshdtjxbfwcpegtt.supabase.co/rest/v1/thebreadstation", { 
    method: "GET", 
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ4b3R6c2hkdGp4YmZ3Y3BlZ3R0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1MDI5MzMsImV4cCI6MjAzMTA3ODkzM30.SQhJvLFX0bmMD7KqL2O-e_NWt9uh1ne0HQbg1NIJow4",
    }
}).then((res) => res.json());

console.log(data);
---
<!DOCTYPE html>
<html lang="da">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vores udvalg</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    </head>
<body>
    <Udvalgbil/>      

<Footer/>
    </body>
    <style>
body{
    background-color: var(--c-color);
}
    </style>
  </html>
