---
import "../styles/global.css";
---
<body>
    <div class="fostedel">
<div class="billede">


</div>
<div class="tekst">
<h1>
    Kom og besøg os på vores hyggelige bageri i Charlottenlund
</h1>
<p>

</p>

</div>

    </div>


</body>

<style>
h1{
    font-size: var(--h1-font-size);
}

</style>