---
import "../styles/global.css";
---
<body>
    <div class="firekant-1"></div>
    
</body>
<style>
  .firekant-1 {
    width: 55%;  
    height: 500px; 
    background-color: var(--d-color); 
    box-shadow: 0 8px 8px var(--e-color);
    margin: 2% 0 2% 2%;
  }

</style>