---
import "../styles/global.css";
---
<body>
    <div class="firekant-2"></div>
    
</body>
<style>
  .firekant-2 {
    width: 55%;  
    height: 500px; 
    background-color: var(--d-color); 
    box-shadow: 0 8px 8px var(--e-color);
    margin: 10% 100px 100px 43%;
  }
</style>