---
import "../styles/global.css";
---
<body>
    <div class="firekant-2"></div>
    
</body>
<style>
  .firekant-2 {
    width: 55%;  
    height: 500px; 
    background-color: var(--e-color); 
    box-shadow: 0 8px 8px var(--f-color);
    margin: 1% 100px 60px 43%;
  }
</style>