---
import "../styles/global.css";
---
<body>
    <div class="firekant-1"></div>
    
</body>
<style>
  .firekant-1 {
    width: 55%;  
    height: 550px; 
    background-color: var(--e-color); 
    box-shadow: 0 1px 15px 0 var(--f-color);
    margin: 2% 0 2% 2%;
  }

</style>