---

import "../styles/global.css";
import Forside from "../components/Forside.astro";

---

<body>
    <body>
        <div class="image-container">
          <Forside />
          <div class="text-box">
            <h1>The Bread Station</h1>
          </div>
        </div>
      </body>


</body>

<style>
.image-container > * {
  z-index: 1;}

.text-box {
  position: absolute; 
  bottom: 20px; 
  left: 20px; 
  background-color: var(--a-color); 
  color: var(--f-color);
  padding: 10px; 
  border-radius: 5px; 
  box-shadow: 0px 0px 10px var(--a-color); 
  z-index: 1;
}
</style>