---
import "../styles/global.css";
---
<header>
    <div class="header-container">
        <nav>
            <div class="burger-menu">
                <div class="container_header">
                    <input class="checkbox" type="checkbox" />
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>
                    <div class="menu" id="menu">
                        <ul>
                            <li>
                                <a href="/udvalg" class="dropdown-trigger">Udvalg</a>
                                <div class="dropdown-box"> 
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Brød</a></li>
                                        <li><a href="#">Boller</a></li>
                                        <li><a href="#">Mel</a></li>
                                        <li><a href="#">Kage</a></li>
                                        <li><a href="#">Wienerbrød</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="/kontakt">Kontakt os</a></li>
                            <li><a href="/om">Om os</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

<style>
    .header-container {
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        padding: 0 20px;
    }

    body {
        background-color: var(--c-color);
    }

    .checkbox {
        display: none;
    }

    .menu li {
        list-style: none;
        display: inline; 
        margin-right: 20px; 
    }

    .menu a {
        text-decoration: none;
        color: var(--a-color); 
        font-size: var(--header-size); 
        display: inline-block; 
        padding: 20px;
    }

    nav a {
        color: var(--a-color);
        font-weight: bold;
        text-decoration: none;
    }

    header .menu a {
        text-decoration: none;
        color: var(--f-color);
        font-size: var(--header-size);
        align-items: center;
        justify-content: flex-end;
    }
    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: var(--c-color);
        border: 1px solid var(--f-color);
        border-radius: 5px;
        padding: 10px;
        right: 20px;
        top: 100%;
    }

    .dropdown-menu.active {
        display: block;
    }

    .dropdown-menu li {
        margin-bottom: 5px; 
    }

    .dropdown-box {
        display: none;
    }

    .dropdown-box.active {
        display: block; 
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    const dropdownTriggers = document.querySelectorAll(".dropdown-trigger");

    dropdownTriggers.forEach(function(dropdownTrigger) {
        dropdownTrigger.addEventListener("mouseenter", function (event) {
            event.preventDefault();
            const dropdownMenu = dropdownTrigger.nextElementSibling;
            const dropdownBox = dropdownMenu.querySelector(".dropdown-box");
            dropdownMenu.classList.add("active");
            dropdownBox.classList.add("active");
        });

        dropdownTrigger.addEventListener("mouseleave", function (event) {
            const dropdownMenu = dropdownTrigger.nextElementSibling;
            const dropdownBox = dropdownMenu.querySelector(".dropdown-box");
            dropdownMenu.classList.remove("active");
            dropdownBox.classList.remove("active");
        });
    });
});
</script>



   