---
import "../styles/global.css";
---
<body>
    <div class="ind">
        <div class="Kontakt-os">
                <h2>Kontakt os</h2>
                <div class="p">
                <p>Hos The Bread Station står vi altid klar til at besvare din henvendelse.
                    Hvis du har et spørgsmål, er du mere end velkommen til at kontakte os. </p>
                </div>
                    <p>Skriv til os på mail eller ring til os på.</p>
                    <p>Mail: perbrun4@gmail.com</p>
                    <p>Tlf nr: +45 39 30 37 36</p>
        </div>
        <div class="åbningstider">
<h2>Åbningstider</h2>
<p>Mandag: 07-17</p>
<p>Tirsdag: 07-17</p>
<p> Onsdag: 07-17</p>
<p> Torsdag: 07-17</p>
<p>Fredag: 07-17</p>
<p> Lørdag: 07-15</p>
<p>Søndag: 07-15</p>
<p>helligdage 7-15</p>

        </div>
    </div>
</body>
<style>
.ind{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
    background-color: var(--c-color);

}

.p{
    font-size: var(--p-size);
    padding-bottom: 30px;
    padding-top: 20px;
    margin-left: 20px;
    text-align: center;
    line-height: 37px;
}

p{
    font-size: var(--p-size);
    text-align: center;
    line-height: 37px;
    padding-bottom: 13px;
    margin-left: 20px;
}

h2{
    font-size: var(--h2-size);
    text-align: center;
    padding: 30px 0 30px 30px;
}

</style>