---
import "../styles/global.css";
---
<header>
    <div class="header-container">
        <a href="/index.html">
          <img  src="/svg/logo.svg" alt="logo" />
        </a>
      <nav>
        <div class="burger-menu">
          <div class="container_header">
            <input class="checkbox" type="checkbox" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>
            <div class="menu" id="menu">
              <li><a href="/udvalg">Udvalg</a></li>
              <li><a href="/kontakt">Kontakt os</a></li>
              <li><a href="/om">Om os</a></li>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  
  <style>
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }

    body{
        background-color: var(--c-color);
    }
  
    @media (max-width: 800px) {
      .container_header {
        max-width: 1000px;
        width: 100%;
        margin: auto;
      }
  
      .burger-menu {
        width: 100%;
        box-shadow: var(--f-color);
      }
  
      .burger-menu li {
        list-style: none;
        padding-bottom: 5%;
      }
  
      .burger-menu a {
        text-decoration: none;
        color: var(--f-color);
        font-weight: 500;
        font-size: var(--header-size);
        padding: 0.7rem;
      }
  
      .burger-menu a:hover {
        font-weight: bolder;
      }
  
      .burger-menu .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }
  
      .burger-menu .hamburger-lines {
        display: flex;
        flex-direction: column;
        height: 20px;
        width: 6%;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        justify-content: space-between;
      }
  
      .burger-menu .hamburger-lines .line {
        height: 3px;
        width: 80%;
        border-radius: 10px;
        background: var(--f-color);
        transition: transform 0.2s ease-in-out;
      }
  
      .burger-menu .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
  
      .burger-menu .menu {
        padding-top: 120px;
        background-color: var();
        height: 1800%;
        width: 100%;
        transform: translateX(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        text-align: center;
      }
  
      .burger-menu .checkbox:checked ~ .menu {
        transform: translateX(0);
      }
  
      .burger-menu .checkbox:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
      }
  
      .burger-menu .checkbox:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
      }
  
      .burger-menu .checkbox:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
      }
    }
  
    @media (min-width: 800px) {
      .checkbox {
        display: none;
      }
  
    img {
        width: 40%;
        height: 20%;
        display: flex;
    right: 0;
    padding: 2%;
    }

      .menu li {
        list-style: none;
        margin: 0;
      }
  
      .menu a {
        text-decoration: none;
        color: var(--f-color);
        font-size: 18px;
        display: block;
        padding: 20px;
      }
  
      .menu a:hover {
        font-weight: bolder;
      }
  
      .menu {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
        margin: auto;
      }
  
      nav a {
        color: var(--a-color);
        font-weight: bold;
        text-decoration: none;
      }
  
      header .menu a {
        text-decoration: none;
        color: var(--a-color);
        font-size: var(--header-size);
        align-items: center;
        justify-content: flex-end;
      }
    }
  
    .menu.active {
      display: block;
    }
  
  </style>
  
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const burgerIcon = document.querySelector(".checkbox");
      const menu = document.getElementById("menu");
  
      burgerIcon.addEventListener("click", function () {
        menu.classList.toggle("active");
      });
    });
  </script>