---
import "../styles/global.css";
import Menu from "./Menu.astro";
---
<body>
        <div class="logo">
            <a href="/index.html">
                <img  src="/svg/logo.svg" alt="logo" />
            </a>
        </div>
        <div class="forsidemenu">
            <Menu/>
        </div>
        <div class="forsidebillede">
            <img src="/img/udvalg.jpg" alt="Forsidebilledet">
        </div>
</body>
<style>
   .forsidebillede {
    position: relative;
    z-index: 1;
}

.forsidemenu {
    position: absolute;
    z-index: 2; 
    top: 0; 
    right: 0;
}

.logo {
        position: absolute;
        width: 13%;
        height: 20%;
        display: flex;
    right: 88%;
    padding: 2%;
    z-index: 3;
    }

</style>